/*
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }*/

body{
    background: url(public/tri.svg);
    background-repeat: no-repeat;
    margin: auto;
    padding: 0px;
    font-size: 16px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    min-width: 1050px;
}
*{
    margin: 0px;
    padding: 0px;
    /*border: 1px solid black;*/
}

#main-display{
    width: 68%;
    margin: 0px;
    min-width: 600px;
}

/*------------------------------- Header ----------------------------------------*/

header{
    display: fixed;
    padding: 0px;
    margin: 0px;
}
header div{
    display: block;
    padding: 20px;
}
header form input{
    max-width: 200px;
}
.form-group select{
    max-width: 100px;
}
header button{
    background: white;
    padding: 0.5em;
    width: 100px;
}
#restart-btn{
    margin-left: 20px;
}
#port{
    width: 80px;
}
#setting{
    padding: 0px 20px;
}
#setting select{
    width: 100px;
    height: 40px;
    margin-left: 5px;
    text-indent: 10px;
}

/*---------------- Main Section - the tictactoe board -------------------------- */

main{
    position:absolute;
    display: flex;
    width: inherit;
}
#tictactoe{
    margin: auto;
    vertical-align: middle;
    height: 300px;
    width: 300px;
    text-align: center;
} 
.xo {
    border: 3px solid rgba(255,255,255,0);
    opacity: .90;
    background-clip: content-box;
    background: #fff;
    margin: 3px;
    height: 100px;
    width: 100px;
}
.xo:hover {
    background: #eee;
    cursor: pointer;
}
.serverMove {
    font-family: "FontAwesome";
    content: "\f00d";
}
.clientMove {
    /*background: green;*/
}


/*------------------------- Chat window -----------------------------------------*/

#chat-sidecart{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 32%;
    min-width: 250px;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 0px;
}
#chatbox-title{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    margin: 0px;
    height: 2em;
    /*border: 2px solid #eee;*/
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #2ecc71;
    color: white;
    font-family: Lato,Helvetica,Arial,sans-serif;
    padding-top: 10px;
}
#chat-msgbox{
    list-style-type: none;
    font-family: Lato,Helvetica,Arial,sans-serif;
    margin-top: 3em;
}
.chat-msg{
    width: 100%;
    word-break: break-all;
    border-bottom: 1px solid black;
    padding: 10px;
}
.chat-msg span{
    font-weight: bold;
}
#chat-input {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 3em;
    border-top: 2px solid #eee;
}
#chat-input input {
    position: absolute;
    bottom:0;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: calc(70%);
    border: 0;
    padding: .5em 1.5em;
}
#chat-input input:focus {
    background: #eee;
    outline: 0;
}
#chat-input button {
    position: absolute;
    padding: .5em 1.5em;
    color: white;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 100px;
    background: rgb(233,110,80);
}

/*--------------------------------score board------------------------------------*/

#scoreboard{
    max-width: 150px;
}
#serverScore,#clientScore{
    font-size: 150px;
    font-family: 'lcdmono2normal', Arial, Helvetica, sans-serif;
    color: white;
    height: 150px;
    line-height: 150px;
}
#serverScoreLabel,#clientScoreLabel{
    font-size: 20px;
    color: white;

}
#serverBoard,#clientBoard{
    text-align: center;

}





